.row {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.temp {
  color: rgb(53, 52, 52);
  font-weight: 500;
}

.WeatherForecast-temperature-min {
  opacity: 0.5;
  margin-left: 5px;
}
